h1 {
  font-weight: bold;
  color: black;
  font-size: 52px;
  justify-content: center;
  display: flex;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
  }

#UserInput{
    width: 100%;
}
.form-check{
    float: left;
    width: auto;
    margin-right: 3em;
 }

input[type="radio"].margin {
    margin: 0px 0px 0px 20px;
}

#page_rank_label {
    color: black;
}

#hits_label {
    color: black;
}

#flat_clustering_label {
    color: black;
}

#hierarchical_clustering_label {
    color: black;
}

#association_qe_label {
    color: black;
}

#metric_qe_label {
    color: black;
}

#scalar_qe_label {
    color: bLACK;
}

#relevance {
    margin: 0px 0px 0px 0px;
    color: black;
}

#clustering {
    margin: 20px 0px 0px 0px;
    color: black;
}

#queryexp {
    margin: 20px 0px 0px 0px;
    color: black;
}

#srch {
    margin: 20px 0px 0px 0px;
    color: blue;
    width: 100%;
}